*{
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

body{
  background-color: #1a2638;
  color: #333 ;
}

#content{
  display: flex;
  margin-left: 335px;
  margin-top: 50px;
}

#lado-esquerdo{
  background-image: url(./foto-do-logar.jpg);
  width: 400px;
  height: 600px;
  background-size: cover;
}

#lado-esquerdo h2{
  font-size: 48px;
  margin-top: 450px;
  margin-left: 20px;
  color: #888;
}

#lado-direito{
  background-color: #888;
  width: 400px;
}

form{
  text-align: center;
}

form h2{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

input[type="email"]{
  width: 300px;
  height: 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 800;
}

input[type="email"]::placeholder{
  text-align: center;
  color: #111;
}

input[type="password"]{
  width: 300px;
  height: 30px;
  border-radius: 50px;
  border: none;
  outline: none;
}

input[type="password"]::placeholder{
  color: #111;
  text-align: center;
  font-weight: 800;
}

button{
  width: 300px;
  height: 40px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 20px;
  font-weight: 800;
  color: #fff;
  background-color: #32cd32;
  transition: 0.5s;
}

button:hover{
  background-color: #2c6d2c;
}

footer{
  text-align: center;
  color:#fff;
  margin-top:20px;
}